<!DOCTYPE html>
<html
  lang="vi"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Tìm hiểu</title>
    <link rel="stylesheet" th:href="@{/css/timhieu.css}" />
  </head>
  <body>
    <div layout:fragment="content">
      <div class="page-emagazine">
        <div class="image-header">
          <img
            src="https://media.suckhoecong.vn/Images/Uploaded/Share/2022/03/27/dung-de-tre-doi-kien-thuc-ve-gioi-tinh1648344062.jpg"
            alt=""
          />
        </div>
        <div class="emagazine-container">
          <div id="content_detail" class="content-area">
            <div class="image-box"></div>
            <div class="image-box">
              <div class="image-wrapper">
                <figure>
                  <img
                    src="https://media.suckhoecong.vn/Images/2022/03/27/sed2-08211859-220327082118.png"
                    alt="Empty"
                    width="700"
                    height="178"
                  />
                </figure>
              </div>
            </div>
            <div class="text-content" style="text-align: justify">
              Khi những tò mò và thắc mắc về giới tính không được giải đáp bởi
              những người thân cận và đáng tin, trẻ sẽ tìm đến những nguồn thông
              tin khác như bạn bè và Internet. Nếu cha mẹ tiếp tục ngó lơ trẻ
              trong quá trình này, trẻ có thể “đi lạc” trong biển thông tin lệch
              lạc lúc nào không hay.
            </div>
            <div class="text-content" style="text-align: justify">
              Không ít ông bố, bà mẹ đánh giá thấp tốc độ lớn về cả sinh lý và
              tâm lý của con trong tuổi dậy thì. Hệ quả là họ xem nhẹ và bỏ qua
              nhu cầu khám phá giới tính tự nhiên của trẻ. Vì thế, sốc luôn là
              phản ứng đầu tiên của cha mẹ khi bắt gặp con mình tiếp xúc với nội
              dung khiêu dâm hay liên quan tới tình dục.
            </div>
            <div class="image-box">
              <div class="image-wrapper">
                <figure>
                  <img
                    src="https://media.suckhoecong.vn/Images/2022/03/27/sed3-08212010-220327082120.jpg"
                    alt="Empty"
                    width="700"
                    height="296"
                  />
                </figure>
              </div>
            </div>
            <div class="text-content" style="text-align: justify">
              Trong khi đó, khảo sát vào năm 2021 của UNICEF cho thấy, tại Việt
              Nam, tỷ lệ nam thanh niên quan hệ tình dục trước 15 tuổi là 0,2%.
              Tỷ lệ này ở nữ giới cao hơn, khoảng 0,9%. Thậm chí, có đến 8,9%
              <div class="link">
                <a href="https://suckhoecong.vn/tag/phu-nu/">phụ nữ</a>
              </div>
              từ 15-19 tuổi đã quan hệ tình dục với bạn tình hơn mình 10 tuổi.
            </div>
            <div class="text-content" style="text-align: justify">
              Thực trạng quan hệ tình dục sớm có thể kéo theo nhiều hậu quả đáng
              tiếc như
              <div class="link">
                <a href="https://suckhoecong.vn/tag/mang-thai/">mang thai</a>
              </div>
              ngoài ý muốn và mắc các bệnh lây truyền qua đường tình dục. Không
              chỉ thiếu hiểu biết về cơ thể mình, các em còn thiếu hiểu biết về
              quan hệ tình dục an toàn. Ở nước ta, kết quả điều tra của Tổng cục
              Thống kê cho thấy, trong số khoảng 300.000 ca nạo phá thai được
              công bố ở Việt Nam, có đến 60-70% các ca nạo phá thai là phụ nữ ở
              độ tuổi 15-19 tuổi.
            </div>
            <div class="image-box">
              <div class="image-wrapper">
                <figure>
                  <img
                    src="https://media.suckhoecong.vn/Images/2022/03/27/sed4-08211829-220327082118.jpg"
                    alt="Empty"
                    width="700"
                    height="178"
                  />
                </figure>
              </div>
            </div>
            <div class="text-content" style="text-align: justify">
              Ở độ tuổi đang lớn, việc tiếp xúc với các tư tưởng, thông tin lệch
              lạc về tình dục và giới tính cũng ảnh hưởng nghiêm trọng tới sự
              phát triển của trẻ. Những kỳ vọng không thực tế mà trẻ học qua
              phim, ảnh khiêu dâm sẽ cản trở khả năng xây dựng và duy trì các
              mối quan hệ lành mạnh trong tương lai. Nam thanh niên có thể xuất
              hiện khuynh hướng bạo lực và hành vi tiêu cực đối với nữ giới.
            </div>
            <div class="text-content" style="text-align: justify">
              Đặc biệt, với trẻ ở tuổi dậy thì và vị thành niên, biện pháp cấm
              đoán đôi khi có thể gây phản tác dụng, khiến trẻ hình thành tâm lý
              chống đối. Trái lại, giáo dục giới tính đúng cách lại ngăn chặn
              hành vi quan hệ tình dục, giảm nguy cơ có nhiều bạn tình và khuyến
              khích việc sử dụng các biện pháp tránh thai như bao cao su. Theo
              <div class="link">
                <a href="https://suckhoecong.vn/nghien-cuu-san-xuat-c17/"
                  >nghiên cứu</a
                >
              </div>
              năm 2014 của UNESCO, trẻ em không được giáo dục giới tính đầy đủ
              dễ tổn thương trước các hành vi nguy hại như xâm hại tình dục.
            </div>
            <div class="image-box">
              <div class="image-wrapper">
                <figure>
                  <img
                    src="https://media.suckhoecong.vn/Images/2022/03/27/sed5-08211931-220327082119.jpg"
                    alt="Empty"
                    width="700"
                    height="178"
                  />
                </figure>
              </div>
            </div>
            <div class="text-content" style="text-align: justify">
              Không chỉ ở Việt Nam mà tại nhiều quốc gia phương Đông, hầu hết
              cha mẹ còn e ngại chia sẻ những vấn đề liên quan đến tình dục và
              giới tính với con trẻ. Nhiều phụ huynh cho rằng việc này là “vẽ
              đường cho hươu chạy” và kém cần thiết so với bồi dưỡng kiến thức.
              Số khác mặc nhiên cho rằng, trách nhiệm giáo dục giới tính thuộc
              về nhà trường và các cơ sở giáo dục.
            </div>
            <div class="text-content" style="text-align: justify">
              Theo hướng dẫn của Quỹ Dân số Liên hợp quốc, một chương trình giáo
              dục giới tính toàn diện cần đề cập 8 khái niệm cốt lõi:
            </div>
            <div class="image-box">
              <div class="image-wrapper">
                <figure>
                  <img
                    src="https://media.suckhoecong.vn/Images/2022/03/27/sed6-08212197-220327082121.jpg"
                    alt="Empty"
                    width="700"
                    height="652"
                  />
                </figure>
              </div>
            </div>
            <div class="text-content">
              Dựa vào các tiêu chí trên, có thể nói ít quốc gia có thể đáp ứng
              đầy đủ các nội dung trên trong chương trình giáo dục giới tính.
              Hầu hết chỉ tập trung vào các thông tin như giải phẫu sinh lý cơ
              thể nam và nữ trong môn Sinh học. Một số trường cung cấp bài
              giảng, tiết học ngoại khóa về phòng tránh xâm hại tình dục và quan
              hệ tình dục an toàn.
            </div>
            <div class="image-box">
              <div class="image-wrapper">
                <figure>
                  <img
                    src="https://media.suckhoecong.vn/Images/2022/03/27/sed7-08211950-220327082119.jpg"
                    alt="Empty"
                    width="700"
                    height="296"
                  />
                </figure>
              </div>
            </div>
            <div class="text-content" style="text-align: justify">
              Theo tờ&nbsp;<em>The Guardian</em>, tại Hà Lan, giáo dục giới tính
              bắt đầu từ trẻ 4-5 tuổi. Theo luật, tất cả trẻ tiểu học ở Hà Lan
              phải được giáo dục giới tính. Nội dung học cũng rất đa dạng: Cách
              bày tỏ cảm xúc và đặt ra giới hạn, sự đa dạng về bản dạng giới và
              các mối nguy hiểm trên mạng. Thái độ cởi mở đối với giáo dục giới
              tính đã khiến số lượng trẻ vị thành niên mang thai ở Hà Lan thấp
              nhất trong Liên minh châu Âu (EU). Thanh thiếu niên Hà Lan thường
              bắt đầu quan hệ tình dục muộn hơn so với Mỹ hoặc các nước châu Âu
              khác.
            </div>
            <div class="text-content" style="text-align: justify">
              Còn ở Anh, môn giáo dục giới tính là bắt buộc với trẻ tiểu học với
              kiến thức về mối quan hệ lành mạnh, tuổi dậy thì và các đảm bảo an
              toàn trên mạng Internet. Học sinh cấp 2 được dạy về bạo lực gia
              đình và bóc lột tình dục, các bệnh lây truyền qua đường tình dục
              và nội dung độc hại trên mạng. Ngay từ 9-10 tuổi, trẻ đã được dạy
              vấn đề từ hệ cơ quan sinh dục (thay đổi hormone, kinh nguyệt ở nữ,
              mộng tinh - cương dương và xuất tinh ở nam) đến các định kiến về
              giới tính.
            </div>
            <div class="text-content" style="text-align: justify">
              Còn tại các nước châu Á, giáo dục giới tính thường được dạy khá
              muộn và dè dặt. Chương trình tại Trung Quốc chỉ đề cập tới cách
              phòng tránh lạm dụng tình dục. Tại Hàn Quốc, mỗi năm, học sinh từ
              tiểu học tới hết cấp 3 phải học 15 tiếng về giáo dục giới tính.
              Chỉ tiêu là vậy, nhưng theo
              <em>Korea Times</em>, bài giảng thường được thay thế bằng các
              video clip mà không có bất kỳ giải thích cụ thể nào.
            </div>
            <div class="image-box">
              <div class="image-wrapper">
                <figure>
                  <img
                    src="https://media.suckhoecong.vn/Images/2022/03/27/sed8-08212058-220327082120.jpg"
                    alt="Empty"
                    width="700"
                    height="652"
                  />
                </figure>
              </div>
            </div>
            <div class="text-content" style="text-align: justify">
              Chương trình giáo dục của các nước châu Âu, dù được coi là cởi mở,
              cũng gặp không ít rào cản các yếu tố như
              <div class="link">
                <a href="https://suckhoecong.vn/van-hoa-xa-hoi-d3/">văn hóa</a>
              </div>
              , tôn giáo. Nhưng nếu cả nhà trường và cha mẹ đều e ngại chia sẻ
              kiến thức giới tính, tương lai của trẻ sẽ phụ thuộc vào những nội
              dung mà con tự tìm hiểu qua bạn bè, qua mạng. Đặc biệt, dưới tác
              động của dịch COVID-19, trẻ phải tiếp xúc thường xuyên với mạng
              Internet, càng dễ “lạc lối” lúc nào không hay.
            </div>
            <div class="text-content" style="text-align: justify">
              Nếu chương trình giáo dục giới tính tại nhà trường chưa đầy đủ,
              phụ huynh chính là người cần lấp đầy “lỗ hổng” kiến thức cho con.
              Và để làm được điều này, cha mẹ cũng cần phải học: Cập nhật những
              kiến thức về giới, về các bệnh lý có thể gặp phải, kỹ năng phòng
              chống xâm hại, xa hơn là bình đẳng giới và đa dạng về xu hướng
              tính dục.
            </div>
            <div class="text-content" style="text-align: justify">
              Phụ huynh cũng cần học cách làm bạn với con, để kịp thời nhận ra
              những biến đổi trong tâm sinh lý và giúp trẻ mở lòng. Theo các
              chuyên gia, cha mẹ có thể tận dụng bất cứ cơ hội nào để cung cấp
              cho con những thông tin đơn giản, cần thiết về giới tính: Gặp
              người thân mang bầu, bắt gặp quảng cáo về dung dịch vệ sinh phụ
              nữ, khi xem một bộ phim tình cảm.
            </div>
            <div class="text-content" style="text-align: justify">
              Hiện nay, trên thị trường có nhiều đầu sách uy tín về giáo dục
              giới tính phù hợp với từng độ tuổi. Đây là nguồn tài liệu tham
              khảo phù hợp với bậc phụ huynh còn đang bối rối về cách nói chuyện
              với con sao cho bớt “ngại”. Đừng quên rằng, đời sống tình cảm và
              tình dục lành mạnh cũng là yếu tố quyết định hạnh phúc của con bạn
              sau này.
            </div>
          </div>
        </div>
        <div class="image-header">
          <img
            src="https://media.suckhoecong.vn/Images/2022/03/27/sedfinal-0825272-220327082527.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
